@charset "utf-8";

/*body*/
body {
    padding-top: 70px;
    padding-bottom: 40px;
    color: #5a5a5a;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaheiUI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}

/*navbar*/
#navbar-collapse ul {
    margin-top: 0;
}

/*content*/
.content {
    width: 100%;
}

/*sidebar*/
.sidebar {
    height: 100%;
    padding: 70px 0;
    background: #ddd;
    z-index: -1;
    overflow: auto;
}
.sidebar-sub-nav {
    padding: 20px 0;
}
.sidebar li {
    padding-left: 5px;
}
.bg-primary a {
    color: #fff;
}

/*h1*/
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*content-details*/
.content-details {
    margin-top: 20px;
    padding: 0;
}

/*panel-2*/
.work-ul li {
    margin-bottom: 20px;
}

/*panel-3*/
.order-btn {
    margin-bottom: 10px;
}


/*小屏幕（平板，大于等于768px）*/
@media (min-width: 768px) {
}

/*中等屏幕（桌面显示器，大于等于992px）*/
@media (min-width: 992px) {
}

/*大屏幕（大桌面显示器，大于等于1200px）*/
@media (min-width: 1200px) {
}























